@import "src/styles/_mixin.scss";

.scroll_btn {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  background: #fff;
  cursor: pointer;
  img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: top 0.3s ease-out;
  }
  @include medium {
    &:hover img {
      top: 40%;
    }
  }
}
