.story_section {
  padding: 0 20px;
  color: #082e22;
  h2 {
    font-size: 40px;
    font-weight: 400;
    margin-top: 40px;
  }
  .txt_wrapper {
    margin: 18px 0 26px 0;
  }
  p {
    font-size: 20px;
    font-weight: 400;
    &:last-child {
      margin-top: 20px;
    }
  }
  .img_wrapper {
    text-align: center;
    padding-bottom: 40px;
  }
}
