@import "src/styles/_mixin.scss";
.sns_link {
  position: relative;
  display: inline-block;
  font-size: 16px;
  color: $main-color;
  cursor: pointer;
  &.white {
    color: #fff;
  }
}
.link_img_wrapper {
  position: absolute;
  top: 50%;
  left: 98px;
  transform: translate(0%, -50%);
  width: 35px;
  height: 35px;
}
