@import "src/styles/_mixin.scss";
.footer {
  position: relative;
  width: 100%;
  height: 547px;
  text-align: center;

  .img_sp_wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    @include medium {
      display: none;
    }
  }

  .img_pc_wrapper {
    display: none;
    @include medium {
      display: block;
      position: relative;
      width: 100%;
      height: 100%;
    }
  }

  .footer_txt {
    position: absolute;
    bottom: 20px;
    right: 0;
    width: 100%;
    font-family: "Open Sans", sans-serif;
    font-size: 12px;
    font-weight: 400;
    color: #fff;
    @include medium {
      text-align: right;
      right: 24px;
      bottom: 28px;
    }
  }
  .scrollBtn_wrapper {
    position: absolute;
    left: 50%;
    bottom: 58px;
    transform: translateX(-50%);
    display: block;
    @include medium {
      display: none;
    }
  }
}
